[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    W0603,  # global-statement
    C0415,  # import-outside-toplevel
    W0718   # broad-exception-caught
